.main.container
	.row
		.col-md-6.col-md-offset-3
			h1.display-4.m-b-2 Crearr producto
			form(method= 'POST' action = '/producto')
				div.form--group
					label(for='nombre') Nombre:
					input#nombre.form-control(type='text' name='nombre')
				div.form--group
					label(for='descripcion') Descripcion:
					input#descripcion.form-control(type='text' name='descripcion')
				div.form--group
					label(for='precio') Nobre:
					input#precio.form-control(type='text' name='precio')
				button.btn.btn-primry(type='submit') Grabar	